@import "../../vendor/filament/filament/resources/css/app.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.lekata-cls-1 {
    fill: #e94272;
}
.lekata-cls-2 {
    @apply fill-gray-700 dark:fill-gray-300;
}
.lekata-cls-3 {
    fill: #ef7d19;
}
.lekata-cls-4 {
    @apply fill-primary-700 dark:fill-gray-300;
}

.active-page .active-page-indicator {
    @apply bg-primary-600 visible w-1/3;
}

.active-page .active-page-label {
    @apply text-primary-600;
}

.svg-icon {
    @apply stroke-gray-100;
}

.vjs-theme-forest {
    @apply fill-primary-600 !important;
}

[x-cloak] {
    display: none !important;
}
.h1 {
    @apply text-5xl;
}
